body {
    background-color: #13140f;
}

.HBD {
    margin: 50px auto 0 auto;
    text-wrap: nowrap;
    text-align: center;
    color: palevioletred;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#cake {
    display: block;
    /* position: relative; */
    margin: -130px auto 0 auto;
  }
  
  /* ============================================== Candle
  */
  
  .candles {
    background: #ffffff;
    z-index: -1000;
    border-radius: 10px;
    position: absolute;
    top: 228px;
    left: 50%;
    margin-left: -2.4px;
    margin-top: 35px;
    width: 5px;
    height: 35px;
    transform: translateY(-500px);
    backface-visibility: hidden;
    animation: in 500ms 6s ease-out forwards;
    margin-left: auto;
    margin-right: auto;
  }
  .candles:after,
  .candles:before {
    background: rgba(255, 0, 0, 0.4);
    content: "";
    width: 100%;
    height: 2.22222222px;
  }
  .candles:after {
    top: 25%;
    left: 0;
  }
  .candles:before {
    top: 45%;
    left: 0;
  }
  
  /* ============================================== Fire
  */
  
  .fire {
    border-radius: 100%;
    position: absolute;
    top: -20px;
    left: 50%;
    margin-left: -2.6px;
    width: 6.66666667px;
    height: 18px;
  }
  .fire:nth-child(1) {
    animation: fuego 2s 6.5s infinite;
  }
  .fire:nth-child(2) {
    animation: fuego 1.5s 6.5s infinite;
  }
  .fire:nth-child(3) {
    animation: fuego 1s 6.5s infinite;
  }
  .fire:nth-child(4) {
    animation: fuego 0.5s 6.5s infinite;
  }
  .fire:nth-child(5) {
    animation: fuego 0.2s 6.5s infinite;
  }
  
  /* ============================================== Animation Fire
  */
  
  @keyframes fuego {
    0%, 100% {
      background: rgba(254, 248, 97, 0.5);
      box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
      transform: translateY(0) scale(1);
    }
    50% {
      background: rgba(255, 50, 0, 0.1);
      box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
      transform: translateY(-20px) scale(0);
    }
  }
  
  @keyframes in {
    to {
      transform: translateY(0);
    }
  }